.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 50px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0px;

}

footer {
    background-color: yellow;
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;  
    margin-top: 10px;
}

.footer-address-icon{
    padding-right: 10px;
}


